body {

}

p {
    margin-bottom: 0;
}

.container {
    height: 100%;
    max-width: 1160px;
    width: 100%;
    margin: o auto;
    
   

}

.header {
    position: absolute;
    background-color: #FFFFFF;
    border: red 2px solid;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 140px;
}

.logo {
    

    width: 105.69px;
    height: 40px;
    
    border: green 1px solid;
}

.vector {
    display: inline-block;

    width: 40px;
    height: 40px;
    left: 140px;
    top: 15px;
    
}

.toxin {
    padding-bottom: 12px;
    display: inline-block;
    width: 53.19px;
    height: 12.95px;
    left: 192.5px;
    top: 28.33px;
    
}

.nav {

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: #1F2041;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:hover {
    color: red;

}


.content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../MetaLamp/img/image3.png) center no-repeat;
    background-size: cover;
    left: 0px;
    top: 0px;
}

.rectangle {
    padding: 16px 30px;
    z-index: 9999;
    position: absolute;
    width: 380px;
    height: 374px;
    left: 140px;
    top: 140px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.title__number {
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.btn__date {
display: flex;
width: 100%;
justify-content: space-between;
}

.left__btn rights__btn {
    display: flex;
    position: relative;
    border-bottom: 0;
    
}

.btn {
    width: 150px;
    height: 44px;
   
}

.btn__guest_que {
    max-width: 320px;
    width: 100%;
    height: 44px;
}



.room__select {
    max-width: 320px;
    width: 100%;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}

.btn__room {
    padding-top: 36px;
}